body{
    font-family: "Agency FB";
}

h1{
    font-family: "Agency FB";
    font-size:small;
    text-align: center;
}


h2{
    font-family: "Agency FB";
    font-size:large;

}
@media(max-device-width: 480px) {
    h1{
        font-family: "Agency FB";
        font-size: large;
    }
}

#loginMsg{

    font-family: "Agency FB";
    font-size:small;
    color:red;
    text-align: right;
}
